<div class="alert alert-warning alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong>Warning!</strong> Better check yourself, you're not looking too good.
</div>
<div class="sidebar-module">
    <h4>Sponsored</h4>    
    <img data-action="zoom" src="images/instagram_2.jpg" class="img-responsive"></br>
    <p><strong>It might be time to visit Iceland.</strong> Iceland is so chill, and everything looks cool here. Also, we heard the people are pretty nice. What are you waiting for?</p> 
    <div class="btn-group">
      <button class="btn btn-primary btn-sm btn-outline" type="button"  aria-haspopup="true" aria-expanded="false">
        Buy a ticket 
    </button>
</div>
</div>
<div class="hidden-xs sidebar-module">
    <div class="mu abk ro sp">
        <div class="mv">
            <h6 class="abd">Likes <small>· <a href="#">View All</a></small></h6>
            <ul class="bkt bku">
              <li class="oq">
                <a class="blq" href="#">
                    <img class="img-circle abc bkp" src="images/avatar-fat.jpg">
                </a>
                <ul class="dc">
                  <li><strong>Jacob Thornton</strong></li> 
                  <li>@fat</li>
                  <li><div class="btn-group">
                    <button class="btn btn-primary btn-sm btn-outline">
                      <span class="icon icon-user-add"></span> Follow</button>
                  </div></li>
              </ul>
          </li>
          <li class="oq">
            <a class="blq" href="#">
              <img class="img-circle abc bkp" src="http://www.gravatar.com/avatar/319e0a50dedd8c8d0d6185f48950a9c6">
          </a>
          <ul class="dc">
              <li><strong>Dejosel</strong></li>
              <li>@Dejosel</li> 
              <li><div class="btn-group">
                <button class="btn btn-primary btn-sm btn-outline">
                  <span class="icon icon-user-add"></span> Follow</button>
              </div></li>
          </ul>
      </li>
  </ul>
</div>
<div class="nb">
  Dave really likes these nerds, no one knows why though.
</div>
</div>
</div>
<div class="sidebar-module blj">
  © 2018 Dejosel
  <a href="#">About</a>
  <a href="#">Help</a>
  <a href="#">Terms</a>
  <a href="#">Privacy</a>
  <a href="#">Cookies</a>
  <a href="#">Ads </a>
  <a href="#">Info</a>
  <a href="#">Brand</a>
  <a href="#">Blog</a>
  <a href="#">Status</a>
  <a href="#">Apps</a>
  <a href="#">Jobs</a>
  <a href="#">Advertise</a>
</div>