    <div class="thumbnail">
      <div class="na" style="background-image: url(https://bootstrap-themes.github.io/application/assets/img/iceland.jpg);"></div>
      <div class="caption">
        <a>
          <img class="blg img-circle" src="http://www.gravatar.com/avatar/319e0a50dedd8c8d0d6185f48950a9c6">
        </a>
        <h3 class="text-center">Dejosel</h3>
        <p class="text-center">I wish i was a little bit taller, wish i was a baller, wish i had a girl… also.</p>
        <ul class="list-inline blh">
          <li class="bli">
            <a href="#userModal" class="bjx" data-toggle="modal">
              Friends
              <h6 class="text-center aal"><strong>12M</strong></h6>
            </a>
          </li>

          <li class="bli">
            <a href="#userModal" class="bjx" data-toggle="modal">
              Following
              <h6 class="text-center aal"><strong>1</strong></h6>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="sidebar-module">
      <h6 class="abd">About <small>· <a href="#">Edit</a></small></h6>    
      <ul class="dc atd">
        <li><span class="abc asz icon icon-calendar"></span>Went to <a href="#">Oh, Canada</a></li>
        <li><span class="abc asz icon icon-users"></span>Became friends with <a href="#">Obama</a></li>
        <li><span class="abc asz icon icon-github"></span>Worked at <a href="#">Github</a></li>
        <li><span class="abc asz icon icon-home"></span>Lives in <a href="#">Bucaramanga, CO</a></li>
        <li><span class="abc asz icon icon-location"></span>From <a href="#">Bogotá, CO</a></li>
      </ul>
    </div>
    <div data-spy="affix" data-offset-top="60" data-offset-bottom="200" class="sidebar-module">
      <h6 class="abd">Photos <small>· <a href="#">Edit</a></small></h6>
      <div class="gal">  
        <img data-width="640" data-height="640" data-action="zoom" src="images/instagram_5.jpg" class="" >
        <img data-width="640" data-height="640" data-action="zoom" src="images/instagram_6.jpg"  class="">
        <img data-width="640" data-height="640" data-action="zoom" src="images/instagram_7.jpg" >
        <img data-width="640" data-height="640" data-action="zoom" src="images/instagram_8.jpg" >
        <img data-width="640" data-height="640" data-action="zoom" src="images/instagram_9.jpg" >
        <img data-width="640" data-height="640" data-action="zoom" src="images/instagram_10.jpg" >   
      </div>
    </div>


